:root {
    --font-12: 12px;
    --font-14: 14px;
    --font-15: 15px;
    --font-16: 16px;
    --font-17: 17px;
    --font-18: 18px;
    --font-19: 19px;
    --font-20: 20px;
    --font-21: 21px;
    --font-22: 22px;
    --font-23: 23px;
    --font-24: 24px;    

    

    // color
    --black: #000000 ;
    --white: #ffffff;
    --primary: #ed0025;
    --secondary: #bf0000;
    --bluebg: #142b3c;
    --title-color: #064a72;

    /* Font-weight */
    --font-light: 300;
    --font400: 400;
    --font500: 500;
    --font600: 600;
    --font700: 700;
    --font800: 800;

	/* Font-family */
	--font-family: "Nunito", sans-serif;


}